@page
@using Todo.Infrastructure
@model Todo.Pages.Edit;
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    Layout = "_Layout";
}

<section id="create">
    <div class="form-wrapper">
        <h2> Edit Todo</h2>
        <form method="post" asp-page="/Create">
            <input type="hidden" name="returnUrl" value="@ViewContext.HttpContext.Request.PathAndQuery()" />
            <div class="form-group">
                <label asp-for="Todo.Title">Title</label>
                <input asp-for="Todo.Title" class="form-control" />
                <span asp-validation-for="Todo.Title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Todo.Description">Description</label>
                <textarea asp-for="Todo.Description" class="form-control"></textarea>
                <span asp-validation-for="Todo.Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Todo.IsComplete">Is Complete?</label>
                <input asp-for="Todo.IsComplete" type="checkbox" />
            </div>
            <button type="submit" class="btn btn-success">Save Changes</button>
        </form>
    </div>
</section>